<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Juego</ion-card-title>
      <ion-card-subtitle>{{appTitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Presiona el dado para lanzar e iniciar al Juego
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <div class="dice-content">
        <div class="dice-value-content">
          <h1 *ngIf="diceValue; else noShootDice" class="dice-value">{{diceValue}}</h1>
          <ng-template #noShootDice>
            <p class="dice-value-description">
              📣📣📣 Para iniciar la partida, se debe lanzar el dado. El equipo a participar saldrá abajo en una tarjeta.
              Depende del
              resultado del lanzamiento el juego comenzará. <ion-text class="ion-text" color="danger">🥳🎇¡Que la suerte esté de tu lado al
                lanzar el dado y que comience la diversión!🎊🎉</ion-text>
            </p>
          </ng-template>
        </div>
      </div>

      <div class="button-dice-container">
        <ion-button expand="block" (click)="rollDice()">🎲Lanzar Dado🎲</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</div>