.d-flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.grid {
  max-height: 10%;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-2 {
  padding-top: 15px !important;
}