<div #page class="overflow-y">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Configuración</ion-card-title>
      <ion-card-subtitle>{{appTitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Aquí puedes agregar jugadores participantes, marcos de circunstancias para la predicación, temas de
        conversación y los
        diferentes territorios donde quieres practicar.</p>
      <p>Que te diviertas!</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Jugadores</h2>
        <ion-button (click)="getModal('Players')" expand="block">
          Agregar
        </ion-button>
      </div>
      <div class="d-flex overflow-x ">

        <card-component *ngFor="let player of players; let ind = index" [title]="player"
          [imageSrc]="'https://robohash.org/' + ind"></card-component>

      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Sitios</h2>
        <ion-button (click)="getModal('Sites')" expand="block">
          Agregar
        </ion-button>
      </div>
      <div class="pt-2">
        <list-component [items]="sites"></list-component>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Situaciones</h2>
        <ion-button (click)="getModal('Situations')" expand="block">
          Agregar
        </ion-button>
      </div>

      <div class="pt-2">
        <list-component [items]="situations"></list-component>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2>Temas</h2>
        <ion-button (click)="getModal('Temes')" expand="block">
          Agregar
        </ion-button>
      </div>

      <div class="pt-2">
        <list-component [items]="temes"></list-component>
      </div>

    </ion-card-content>
  </ion-card>

</div>


<ion-modal #modal [isOpen]="modalIsOpen" [presentingElement]="page" (ionModalDidDismiss)="modalDidDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{modalTitle}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input [(ngModel)]="modalValue" type="text" placeholder="ingresa {{modalTitle.toLowerCase()}}"></ion-input>
      <ion-button (click)="addItem(modalTitle)" expand="block" fill="solid" shape="round">
        Agregar
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>