<div #page class="overflow-y">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Configuración</ion-card-title>
      <ion-card-subtitle>{{appTitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Aquí puedes agregar jugadores participantes, marcos de circunstancias para la predicación, temas de
        conversación y los
        diferentes territorios donde quieres practicar.</p>
      <p>Que te diviertas!</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Jugadores</h2>
        <button-component [title]="'Agregar'" [action]="getModal" [parameter]="'Players'"></button-component>
      </div>
      <card-component [players]="players" [listName]="'Players'" [removeItem]="removeItem"></card-component>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Sitios</h2>
        <button-component [title]="'Agregar'" [action]="getModal" [parameter]="'Sites'"></button-component>
      </div>
      <div class="pt-2">
        <list-component [items]="sites" [listName]="'sites'" [removeItem]="removeItem"></list-component>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2 class="content-center">Situaciones</h2>
        <button-component [title]="'Agregar'" [action]="getModal" [parameter]="'Situations'"></button-component>
      </div>

      <div class="pt-2">
        <list-component [items]="situations" [listName]="'situations'" [removeItem]="removeItem"></list-component>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="d-flex between">
        <h2>Temas</h2>
        <button-component [title]="'Agregar'" [action]="getModal" [parameter]="'Temes'"></button-component>
      </div>

      <div class="pt-2">
        <list-component [items]="temes" [listName]="'temes'" [removeItem]="removeItem"></list-component>
      </div>

    </ion-card-content>
  </ion-card>

</div>


<ion-modal #modal [isOpen]="modalIsOpen" [presentingElement]="page" (ionModalDidDismiss)="modalDidDismiss()" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{modalTitle}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input [(ngModel)]="modalValue" type="text" (keyup.enter)="addItem(modalTitle)"
        placeholder="Ingresa {{modalTitle.toLowerCase()}}"></ion-input>
      <button-component [title]="'Guardar'" [action]="addItem" [parameter]="modalTitle"></button-component>
    </ion-content>
  </ng-template>
</ion-modal>